style.
	@media screen and (max-width: 599px){ 	}

.inlineController.content-page(ng-controller="inlineController", layout="column", layout-align="start start",ng-cloak).padding10
	
	div(ng-show="user").fill
		ol
			li(ng-repeat="table in myTables")
				a(href="/table/{{table.id}}") {{table.tableName}}
		md-button.md-raised.md-primary(ng-click="showPrompt()") New Table

	div(ng-show="!user",layout="row",layout-align="center center").fill
		h3 Please 
			a(ng-click="userManager.signInGoogle()").big Login

	//- .my-button-bare(ng-click="onDoneClick()").bg-green.margin5 Done!

script.
	bundular.lazy.controller('inlineController', async function ($scope, $rootScope, $controller, $mdDialog, $routeParams, $interval) {
		angular.extend(this, $controller('inlineControllerBase', {$scope: $scope}));

		//- var key = await app.firebase.push('/xplanner/tables', { tableName: tableName, owner: $rootScope.user.id });

		$scope.createTable = async (tableName)=>{
			var key = await app.firebase.push('/tables', { tableName: tableName, owner: $rootScope.user.id, endTime: 0 });
			return key;
		}

		$scope.getMyTables = async ()=>{
			$scope.myTables = await app.firebase.filter('/tables/', 'owner', $rootScope.user.id);
			$scope.safeApply();
		}

		$scope.showPrompt = ()=> {
			bundular.showPrompt('content', async (res)=> {
				if (res == null) return;

				var tableId = await $scope.createTable(res);
				bundular.navigate(`/table/${tableId}`)
			});
		};

		$rootScope.$on('user-ready', ()=> {
			$scope.getMyTables();
		});
	});
